[submodule "deps/ChibiOS"]
	path = deps/ChibiOS
	url = https://github.com/ChibiOS/ChibiOS
[submodule "deps/Unity"]
	path = deps/Unity
	url = https://github.com/ThrowTheSwitch/Unity.git
[submodule "deps/fff"]
	path = deps/fff
	url = https://github.com/meekrosoft/fff.git
[submodule "deps/libdeadcom"]
	path = deps/libdeadcom
	url = https://github.com/fmfi-svt-deadlock/libdeadcom.git
